 /* body {
    background-color: black;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
} */
 /* .card {
    background-color: rgb(255, 255, 255);
    border: 3px solid rebeccapurple;
    height: 10rem;
    width: 50%;
    margin: 0 auto;
} */

 * {
     padding: 0 ;
     margin: 0;
     box-sizing: border-box;
 }

 .card {
     color: red;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 20px;
 }